body{
    background-color: ​#f8f8f8;
}
.menu > li{
    font-style: normal;
    font-size: 20px;
    list-style-type: none;
    font-weight: 900;
    color: black;
    width: 100px;
    height: 24px; 
    outline: 3px solid #eaeaea;
}
.menu li:hover{
    outline:none;
}

.menu li {
    display: inline;
    position: relative;
    bottom: 79px;
    float: right;
    margin-left: 70px;
    margin-right: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
}
.menu li a {
    text-decoration: none;
}
.menu li a:link {
    color: red;
}
.menu li a:visited {
    color: black;
}
.menu li a:hover {
    color: blue;
    background-color:#eaeaea;
}
.menu li a:active{
    color: yellow;
}
.cotent h1,h3{
    color:black;
    font-size: 30px;
    font-weight: 400;
    background-color:#eaeaea;
    
}
.des {
    color: #707070;
    font-size: 20px; 
    font-style: italic;
    line-height: 20px;
}
.ddes{
    color:#484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0 ;
}
.list li {
    list-style-image: url(img/qtpass-icon-icon\ \(1\).png);
    list-style-position: outside;
    font-size: 22px;
    font-style: oblique;
}
input{
    width: 100%;
    font-size: 18px;
    font-style: unset;
    color: #484343;
    text-transform: capitalize
}
textarea{
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-style: unset;
    color: #484343;
    text-transform: capitalize;
}

input[type=submit],[type=reset]{
    width: 50%;
}

.logo img:hover{
    outline:none;
}


input[type=email]:hover{
    color:blue ;
    background-color:rgb(222, 222, 240) ;
}
.date, th, td {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.text:first-letter {
    color: red;
    text-transform: capitalize;
    font-size: 25px;
    font-style: italic;
}

.table td,th{
    border: 1px solid black;
}

.table {
    border-collapse: collapse;
    width: 50%;   
}

tr:hover {background-color: #eaeaea;}

.table th{
    height: 100px;
}
.container{
    width: 1000px;
    margin:0 auto;
}
.header{
    background-color: #c9c4c4;
    height: 150px;
}
.content{
    background-color: #c9c4c4;
    height: 750px;
}
.footer{
    background-color: #c9c4c4;
    height: 80px;
    text-align: right;
    padding-top: 5px;
    padding-right: 15px;
    margin: 0 auto;

}
.footer1{
    background-color: #c9c4c4;
    height: 80px;
    text-align: right;
    padding-top: 15px;
    padding-right: 20px;
    margin: 0 auto;

}
.logo img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-top: 50px;
    margin-left: 100px;
    outline: 3px solid #eaeaea;
    
}
.hh{
    border: 2px dotted #eaeaea;
    border-radius: 5px;
    width: 990px;
}
.content img:hover{
    outline:none;
}
.content img {
    width: 270px; 
    height: 200px;
    outline: 3px solid #eaeaea;
    float: left;
    padding-right: 3px;
    margin-left: 6px
}
.table{
    width: 990px;
    margin-left: 5px;
}
.t1content{
    width: 100%;
    height: 100%;
    background-color: rgb(200, 211, 211);
    margin:  0 auto;
}
.t1content hr {
    border: 2px dotted #eaeaea;
    border-radius: 5px;
    width: 100%;
    margin: 0;
}
.t1content h1{
    color: black;
    font-size: 25px;
    font-weight: 400;
    background-color: #eaeaea;
    padding-left: 20px;
}
.scrut {
    width: 100%;
}
.scrut h3{
    position: relative;
    overflow: hidden;
    
}
.scrut img{
    float: left;
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 10px;
}
.des p {
    float:right;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
}
.teh {
    position: relative;
    clear: both;
    padding-left: 15px;
}
.button{
    background-color: #c9c4c4;
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 20px;
    cursor: pointer;
    outline: 3px solid #eaeaea
}
.button:hover{
    outline:none;
}

.button:active {
  background-color: #eaeaea;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}