body{
    background-color: ​#f8f8f8;
}
.menu > li{
    font-style: normal;
    font-size: 20px;
    list-style-type: none;
    font-weight: 900;
    color: black;
    width: 100px;
    height: 24px; 
    outline: 5px solid #eaeaea;
}
.menu li:hover{
    outline:none;
}

.menu li {
    display: inline;
    position: relative;
    bottom: 79px;
    float: right;
    margin-left: 70px;
    margin-right: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
}
.menu li a {
    text-decoration: none;
}
.menu li a:link {
    color: red;
}
.menu li a:visited {
    color: black;
}
.menu li a:hover {
    color: blue;
    background-color:#eaeaea;
}
.menu li a:active{
    color: yellow;
}
h1,h3 {
    color:black;
    font-size: 18px;
    font-weight: 400;
    background-color:#eaeaea;
}
.des {
    color: #707070;
    font-size: 14px; 
    font-style: italic;
    line-height: 16px;
}
.ddes{
    color:#484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.list li {
    list-style-image: url(img/qtpass-icon-icon\ \(1\).png);
    list-style-position: outside;
    font-size: 22px;
    font-style: oblique;
}
input{
    width: 100%;
    font-size: 18px;
    font-style: unset;
    color: #484343;
    text-transform: capitalize
}
textarea{
    width: 100%;
    height: 50px;
    font-size: 16px;
    font-style: unset;
    color: #484343;
    text-transform: capitalize;
}

input[type=submit],[type=reset]{
    width: 50%;
}

.logo img:hover{
    outline:none;
}


input[type=email]:hover{
    color:blue ;
    background-color:rgb(222, 222, 240) ;
}
.date, th, td {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.text:first-letter {
    color: red;
    text-transform: capitalize;
    font-size: 25px;
    font-style: italic;
}

.table td,th{
    border: 1px solid black;
}

.table {
    border-collapse: collapse;
    width: 50%;   
}

tr:hover {background-color: #eaeaea;}

.table th{
    height: 100px;
}
.container{
    width: 1000px;
    margin:0 auto;
}
.header{
    background-color: #c9c4c4;
    height: 150px;
}
.content{
    background-color: #c9c4c4;
    height: 600px;
   
}
.footer{
    background-color: #c9c4c4;
    height: 100px;
}
.logo img {
    width: 60px;
    height: 60px;
    margin-top: 50px;
    margin-left: 100px;
    outline: 5px solid #eaeaea;
    
}
.hh{
    border: 2px dotted #eaeaea;
    border-radius: 5px;
    width: 990px;
}
